/* FONTS  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Anurati;
  src: url(Anurati-Regular.otf);
}

/* COLORS */

:root {
  --orchid: #9d00c6;
  --robin-egg-blue: #00ffed;
  --bg-color: rgb(22, 22, 22);
  --redwood: #bd445bff;
  --brilliant-rose: #e462a7ff;
}

/* ----------------DEFAULT STYLING--------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--bg-color);
  color: white;
}

section {
  height: 100vh;
  width: 100%;
}

/* -----------------------HEADER-------------------------- */

.header {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.header .logo-container {
  display: flex;
  height: 60px;
  max-width: 100px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.header img {
  max-width: 100px;
  width: auto;
}

.header .navbar-items {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 50rem;
  margin: 0 5rem;
}

.header .navbar-items a {
  color: white;
  letter-spacing: 0.3rem;
  font-family: Anurati, poppins;
}

.header .menu-icon {
  border: none;
  background: transparent;
  color: white;
  font-size: 2.5rem;
}

.header .menu-icon:hover {
  cursor: pointer;
}

/* --------menu styling--------- */

.menu {
  background: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 999;
  width: 55%;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: right ease 0.3s;
  display: flex;
}

.menu .menu-content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.menu .menu-content .menu-head {
  border-bottom: 1px solid white;
  height: 60px;
  font-family: poppins;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.menu .menu-content .menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: flex-end;
  padding-top: 5rem;
  padding-right: 4rem;
}

.menu .menu-content .menu-list .menu-home {
  padding: 1rem;
}

.menu .menu-content .menu-list a {
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5rem;
  font-family: anurati, poppins;
}

.menu .menu-socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10rem;
  top: 35%;
  left: 4rem;
}

.menu .menu-socials button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 2rem;
}

.menu .menu-sidebar {
  width: 30%;
  border-left: 1px solid white;
  z-index: 9999;
}

.menu .menu-sidebar .close-button {
  height: 60px;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  color: white;
  border-bottom: 1px solid white;
  transition: all ease 0.3s;
}

.menu .menu-sidebar .close-button:hover {
  background-color: white;
  color: rgb(22, 22, 22);
}

/* ----active-class--- */

.active {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
}

/* -----------------other-styling--------------- */

.bg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("images/bg-1.png");
  background-position: center;
  filter: brightness(50%);
  overflow: hidden;
  z-index: -1;
  display: flex;
}

.main-body {
  height: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.pricing-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
}

.pricing-card {
  width: 30rem;
  height: 50rem;
  background: linear-gradient(to right, #1b2f54, #0f1f39);
  border-radius: 1.5rem 8rem 1.5rem 1.5rem;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.pricing-card:nth-child(1) {
  transform: translateX(-15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim1 0.5s 0.5s linear forwards;
}

@keyframes cardAnim1 {
  0% {
    transform: translateX(-15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.pricing-card:nth-child(2) {
  transform: translateY(-15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim2 0.5s 0.5s linear forwards;
}

@keyframes cardAnim2 {
  0% {
    transform: translateY(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.pricing-card:nth-child(3) {
  transform: translateX(15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim3 0.5s 0.5s linear forwards;
}

@keyframes cardAnim3 {
  0% {
    transform: translateX(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.card-type {
  width: 22rem;
  height: 4rem;
  background-color: #ccc;
  transform: rotateZ(-90deg);
  position: absolute;
  top: 12rem;
  left: -13rem;
  border-radius: 2.5rem 2.5rem 0 0;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
}

.card-bottom {
  width: 22rem;
  height: 4rem;
  background-color: #ccc;
  position: absolute;
  bottom: -4rem;
  border-radius: 0 0 2.5rem 2.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
}

.pricing-card:nth-child(1) .card-type,
.pricing-card:nth-child(1) .card-bottom {
  background: linear-gradient(to right, #fd60dc, #ffa370);
}

.pricing-card:nth-child(2) .card-type,
.pricing-card:nth-child(2) .card-bottom {
  background: linear-gradient(to right, #df3bfa, #6615fd);
}

.pricing-card:nth-child(3) .card-type,
.pricing-card:nth-child(3) .card-bottom {
  background: linear-gradient(to right, #00d9fc, #174bff);
}

.card-price {
  font-size: 7rem;
  font-weight: 300;
}

.month {
  font-size: 3rem;
  font-weight: 300;
  margin-top: -4rem;
}

.list-item {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item:nth-child(odd) {
  background-color: rgba(9, 12, 33, 0.5);
}

.list-item i {
  width: 2rem;
  text-align: center;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.list-item span {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.pricing-card:nth-child(1) .card-price,
.pricing-card:nth-child(1) .month,
.pricing-card:nth-child(1) .list i,
.pricing-card:nth-child(1) .list span {
  background: linear-gradient(to right, #fd60dc, #ffa370);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing-card:nth-child(2) .card-price,
.pricing-card:nth-child(2) .month,
.pricing-card:nth-child(2) .list i,
.pricing-card:nth-child(2) .list span {
  background: linear-gradient(to right, #df3bfa, #6615fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing-card:nth-child(3) .card-price,
.pricing-card:nth-child(3) .month,
.pricing-card:nth-child(3) .list i,
.pricing-card:nth-child(3) .list span {
  background: linear-gradient(to right, #00d9fc, #174bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-btn {
  width: 12rem;
  height: 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: none;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.pricing-card:nth-child(1) .card-btn {
  background: linear-gradient(to right, #fd60dc, #ffa370);
}

.pricing-card:nth-child(2) .card-btn {
  background: linear-gradient(to right, #df3bfa, #6615fd);
}

.pricing-card:nth-child(3) .card-btn {
  background: linear-gradient(to right, #00d9fc, #174bff);
}

.btn {
  background: transparent;
  align-items: center;
  color: white;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}

.btn:hover {
  color: black;
  /* cursor: pointer; */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: white;
  transition: 0.3s ease;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

/* ---media-queries--- */

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
  .menu {
    width: 100%;
  }
}

@media (max-width: 630px) {
  html {
    font-size: 50%;
  }

  .pricing-cards {
    flex-direction: column;
    gap: 20px;
  }

  .menu .menu-content .menu-list .menu-home a {
    font-size: 25px;
  }

  .header .navbar-items {
    display: none;
  }

  .header .menu-icon {
    font-size: 4rem;
  }

  .container-left {
    display: none;
  }

  .container {
    width: 100%;
    border: none;
  }

  .qr-container {
    flex-direction: column;
  }

  .fee-details {
    margin-left: -40px;
    border-top: 2px solid white;
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .menu .menu-socials {
    right: 3rem;
    left: auto;
  }
}
